/* CSS External Stylesheet */

body { background-color:#99ccff; }

body { font-family: Comic Sans, Comic Sans MS, cursive; }

h1, h2 { 
		font-family: 'Balsamiq Sans', cursive; 
		text-align:center; 
		border-style:groove;
		padding:20px;
		margin:30px;
		text-transform:uppercase;
		}

h3	{
	background-color: black;
	color: tan;
	padding:20px;
	border-top:5px ridge;
	margin:30px;
	font-size:25px;
	text-align:left;
}

h4	{
	background-color: brown;
	color: lightsteelblue;
	padding:20px;
	border-top:5px ridge;
	margin:30px;
	font-size:20px;
	text-align:left;
}

img	{
	padding:10px;
	margin:20px;
	border:groove;
	background-color: darkgray;
}

.floatLarry {
	float:left;
		}
			
.floatRalph	{
	float:right;
	text-align:left;
		}
		
.clearFix {
	overflow:auto;
		}
		
p.enhance	{
	color:yellow;
	background-color:darkslategray;
	margin:30px;
	padding:10px;
}

p::first-letter	{
	font-size:xx-large;
}

div	{
	background-color: saddlebrown;
	color: white;
	padding:20px;
	border-style:ridge;
	margin:30px;
	font-size:20px;
		}		

nav ul	{
	background-color:dimgray;
	color:white;
	border-style:groove;
	margin:30px;
	padding:10px;
		}
			
nav ul li {
	display:inline-block;
	padding:10px;
	text-align:center;
	text-decoration:none;
	
		}
			
nav ul li a:link, nav ul li a:visited {
	border-right: 1px solid gray;
	text-align:center;
	color:white;
	padding:20px;
	text-decoration:none;
}

nav ul li a:hover, nav ul li a:active {
	background-color:black;
	color:white;
}